/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

/* tag selectors */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7em;
  /* color: #777; */
  background-color: #d9dcd6;
  /* margin: 10px;*/
  /* padding: 30px;  */
}

h2 {
  text-align: center;
  margin: 5px;
}

a h2 {
  color: #ffffff;
  text-decoration: none;
}

/* li {
  list-style-type: none;
} */

main {
  /* display: flex;
  flex-direction: column; */
  padding: 30px;
}

ul {
  display: flex;
  justify-content: space-around;
}

ul > li a {
  text-decoration: none;
  color: rgba(0, 0, 255, 0.74);
  font-size: 2rem;
}

/* Class selectors */
.about-me p {
  position: relative;
  margin: 5px;
  margin-top: 5px;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
}

.my-photo {
  /* position: absolute; */
  border-radius: 20px;
  margin: 5px;
}

.hero {
  height: 95vh;
  width: 100vw;
  margin-bottom: 25px;
  background-image: linear-gradient(
      to right bottom,
      white,
      rgba(47, 0, 255, 0.726)
    ),
    url(../full-stack-development.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  /* background: rgba(0, 0, 0, 0.4); */
  clip-path: polygon(0 1.58rem, 100% 1.58rem, 100% 90vh, 0 100%);
}

.header {
  position: relative;
}

.nav {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  justify-content: center;
}

.nav a {
  /* font-weight: bold; */
  color: darkred !important;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
}

.logo-box {
  position: absolute;
  top: 4.3rem;
  /* left: 0.5rem; */
}

.logo {
  height: 17rem;
}

.text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: bottom;
}

.heading-primary {
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-bottom: 6rem;
}

.heading-primary-main {
  display: block;
  font-size: 6.5rem;
  font-weight: bold;
  letter-spacing: 1.3rem;
  line-height: 4.4rem;
}

.heading-primary-sub {
  display: inline-block;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  text-align: center;
  line-height: 2.25rem;
  animation: moveInRight 1s ease-out;
  text-decoration: none;
  border: none;
  background-color: #2196f3;
  cursor: pointer;
  padding: 1.25rem 2.5rem;
  border-radius: 10rem;
  transition: all 0.3s;
  color: #035699;
  margin: 6px 2px;
  /* padding: 15px 32px; */
  /* text-align: center; */
}

.heading-primary-sub:hover {
  /* background-color: var(--color-primary-darker); */
  color: white;
  background-color: hsla(251, 100%, 50%, 0.726);
  transition-duration: 0.4s;
  text-decoration: solid;
  font-weight: bolder;
}

.par-about-me {
  text-align: justify;
  text-decoration: #07135c;
}

.apps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  padding: 10px;
  gap: 20px;
}

.apps img {
  width: 100%;
  height: 56%;
  opacity: 25%;
}

.apps img:hover {
  opacity: 100%;
}

/* .apps div:hover { */
/* border: 0.2px dotted whitesmoke; */
/* } */

.app {
  position: relative;
  flex-basis: calc(50% - 10px);
  border: 1px dotted rgba(128, 128, 128, 0.486);
  border-radius: 8px;
  padding: 5px;
}

.project-title {
  position: absolute;
  left: 0%;
  top: -10px;
  background-color: rgb(161, 191, 211);
  padding: 5px;
  color: darkgreen;
  font-size: 1.9rem;
  opacity: 85%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.9rem;
  font-weight: lighter;
}
/* stack overflow */
.activeLnk {
  background: red;
}

.resume {
  font-size: 1.7rem;
  font-variant: small-caps;
  background: black;
  color: white;
  padding-left: 5px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 4px;
  border-radius: 25px;
}
.app:first-child {
  flex-basis: 100%;
}

.git-hub-repo {
  position: relative;
  margin: 85%;
  text-decoration: none;
  font-weight: lighter;
  color: grey;
  /* letter-spacing: .1rem; */
}

.git-hub-repo:hover {
  color: white;
  background-color: #008cba;
  transition-duration: 0.4s;
  text-decoration: solid;
  font-weight: bolder;
  padding: 0.3rem;
  letter-spacing: 0.2rem;
}

/* tooltip  */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.889);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* .tooltiptext-git {
  visibility: hidden;
  width: 30vw;
  background-color: white;
  color: green;
  text-align: left;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
} */

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* .tech-container {
  display: inline-block;
} */

.tech-ul {
  display: flex;
  justify-content: space-around;
  list-style-type: disc;
  color: #07135c;
}

.tech-ul li {
  font-size: 2rem;
  background-color: aquamarine;
}

.contact-items {
  margin-top: 100px;
  font-size: 1.7rem;
  text-decoration: solid;
}

.contact-me {
  height: 55vh;
}

.about-me h2,
.work h2,
.contact-me h2 {
  font-size: 3rem;
  color: rgb(7, 19, 73);
}

.email {
  letter-spacing: normal;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
  forced-color-adjust: auto;
}

.footer {
  background-color: #07135c;
  height: 100px;
  display: flex;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  width: 100%;
  letter-spacing: 0.5rem;
}

.copyright {
  letter-spacing: 0.1rem;
}

/* JQuery UI */
.ui-tooltip,
.arrow:after {
  background: black;
  border: 2px solid white;
}

.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font: status-bar 14px 'Courier New', Courier, monospace;
  text-transform: none;
  box-shadow: 0 0 7px black;
}

.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}

.arrow.top {
  top: -16px;
  bottom: auto;
}

.arrow.left {
  left: 20%;
}

.arrow:after {
  content: '';
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow.top:after {
  bottom: -20px;
  top: auto;
}

/* media queries (desktop-first) */

/* @media screen and (max-width: 1200px) { } */

@media screen and (max-width: 900px) {
  .user-story-el {
    display: none;
  }

  .tech-ul {
    flex-direction: column;
    align-items: flex-start;
    color: #07135c;
    list-style-type: circle;
    padding-left: 30px;
  }
}

@media screen and (max-width: 800px) {
  /* Use flex-direction to stack the navbar and contact ul. */
  .nav {
    flex-direction: row;
    justify-content: flex-start;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    /* align-items:center;
    align-content:flex-start; */
  }

  .nav a {
    /* font-weight: bold; */
    color: darkred !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
  }

  .app {
    flex-basis: 100%;
  }

  .par-about-me {
    text-align: left;
    text-decoration: #07135c;
    /* font-size: 5rem; */
  }

  .contact-items {
    margin-top: 30px;
    line-height: 3.2rem;
    letter-spacing: 0.1rem;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  .heading-primary-main {
    font-size: 4.5rem;
  }

  /* 
  .heading-primary-sub {
    /* display: block;
    font-size: 20px;
    font-weight: 700px;
    letter-spacing: 8px;
    text-align: center;
    line-height: 1.25em; 
  }*/
}
