/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* tag selectors */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7em;
  /* color: #777; */
  background-color: #d9dcd6;
  /* margin: 10px;*/
  padding: 30px; 
}
h2 {
  text-align: center;
  margin: 5px;
}
a h2{
  color: #ffffff;
  text-decoration: none;
}
li {
  list-style-type: none;
}
nav {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
}
ul {
  display: flex;
  justify-content: space-around;
}
#about-me img {
  border-radius: 20px ;
  margin: 5px;
}
#about-me p {
  margin: 5px;
}
.header {
  height: 95vh;
  background-image: 
    linear-gradient(to right bottom,  rgba(126, 213, 111, 0.801), #0d7754),
    url(./Images/land.jpg);
  background-size: cover;
  background-position: bottom;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  position: relative;
}
.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.logo {
  height: 40px;  
  }
.text-box {
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
}
  .heading-primary {
    color: #ffffff;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
  }

  .heading-primary-main {
    display: block;
    font-size: 55px;
    font-weight: 400px;
    letter-spacing: 35px;
    line-height: 1.25em;
  }

  .heading-primary-sub {
    display: block;
    font-size: 40px;
    font-weight: 700px;
    letter-spacing: 8px;
    text-align: center;
    line-height: 2.25em;

  }

.row {
  display: flex;
  gap: 10px;
}
.apps {
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  padding: 10px;
  gap: 20px;
}

.apps img {
    width: 100%;
}

.apps div:hover {
  border: 2px dotted rgb(52, 190, 214);
}
.app {
  position: relative;
  flex-basis: calc(50% - 10px);
}
.app h3 {
  position: absolute;
  left: 0%;
  bottom: 5%;
  background-color: rgb(52, 190, 214);
  padding: 10px;

}
.app:first-child {
  flex-basis: 100%;
}


/* media queries (desktop-first) */

@media screen and (max-width: 1200px) {

} 

@media screen and (max-width: 900px) {
  
}
@media screen and (max-width: 600px) {
  .app {
    
    flex-basis: 100%;
  }
  .logo-box {
    display: none;
  }

  .heading-primary-main {
    font-size: 30px;
    font-weight: 400px;
    letter-spacing: 15px;
    line-height: 1.25em;
  }

  .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700px;
    letter-spacing: 8px;
    text-align: center;
    line-height: 1.25em;
  }
  /* Use flex-direction to stack the navbar, sidebar, and body */
  nav, ul {
    flex-direction: column;
  }
  /* Make the sidebar stack below the body */
  aside {
    order: 2;
  }
  
}

